<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC97OUJZanJnG40ZPIApHAQNgD4WG89yvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>258411987564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leveltwenty.tractionTracker</string>
	<key>PROJECT_ID</key>
	<string>traction-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>traction-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258411987564:ios:836e09946be58bbb820e49</string>
</dict>
</plist>